body {
    background: #F5F5DC;
}

h1 {
    color:#FF5500;
    font-size: 25px;
}

h2 {
    color: black;
    font-size: 50px;
}

h3 {
    color: #46342f;
    font-size: 50px;
}

p {
    color:#46342f;
    font-size: 20px;
}

strong {
    color:#46342f;
    font-size: 20px;
}

nav {
    display: block;
}